{% extends "accounts/base.html" %}
{% load static %}

{% url 'about' as about_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document {% block title %}{% block head_title}{%endblock head_title %}</title>
</head>

<body>
    <nav></nav>
    <header>

<!-- navbar  and footer -->
        {include 'navbar.html'}
<!-- messages and spans -->
<!-- request user authentication -->
        {% block content %}
        {% endblock content %}

        <div class="container">
            <div class="'row">
                <div class="row bg">
                    <a href="{% url 'home' %}"
                    <!-- <span class="center-form"> images icons -->
                    </a>
                </div>
                    <!-- 2 div classes like body or exerpt -->
                     <!-- Used Cloudinary template from I think I Therfore Blog -->
                     {% if "placeholder" in post.featured_image.url %}
                     <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                       alt="placeholder image">
                     {% else %}
                     <img class="card-img-top" src=" {{ Perfume.featured_image.url }}"
                       alt="{{ Perfume.title }}">
                     {% endif %}
                    </div>
                </div>
            </div>
        </div>



    </header>

    {% block content %}
    {% endblock content %}

    <!-- div ending tag from sit-top icons and classes -->

 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
        
<!-- <script src="{% static 'js/script.js'"></script>third party js source in this file -->

</body>
</html>







