{% extends 'base.html'}

{% block content %}

<div class="container" id="perfumecards">
  <div class="row justify-content-center">
    <!-- Code to be iterated to create numerous cards from database -->
    {% for duplicate in perfumes %}
    <div class="col-md-4 col-12 mb-4 link_highlight">
      <a href="{% url 'DuplicatesList' duplicate.slug %}" class="card-link">
        <div class="card border-warning">
          {% if "placeholder" in duplicate.image.url %}
          <img class="card-img-top" src="{% static 'images/default.jpg' %}"
          alt="placeholder image">
        {% else %}
        <img class="card-img-top" src=" {{ Duplicate.featured_image.url }}"
          alt="{{ post.title }}">
          <div class="card-body">
            {% endif %}
            <h5 class="card-title">{{ Duplicate.title }}</h5>
            <p class="card-text">-£{{ Duplicate.style }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Title: </strong>{{ Duplicate.title }}</li>
            <li class="list-group-item"><strong>Style: </strong>{{ Duplicate.style }}</li>
            <li class="list-group-item"><strong>Origin: </strong>{{ Duplicate.origin }}</li>
            <li class="list-group-item"><strong>Price: -£ </strong>{{ Duplicate.price }}</li>
          </ul>
        </div>
      </a>
    </div>
    <!-- End of iterated code-->
    {% endfor %}
  </div>
</div>
{% if is_paginated %}
<div class="pagination">
  {% if page_obj.has_previous %}
  <a href="?page=1">first</a>
  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
  {% endif %}
  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">next</a>
  <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
  {% endif %}
</div>
{% endif %}
{% endblock content %}